.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

#main {
	margin-top: 100px; 
	margin-bottom: 100px;
}

.thread-list {
	text-align: center;
}

body {
	background-color: #262626;
	color: white;
}
.thread-row {
	background-color: white;
	color: black;
}

.thread-card {
	background-color: white;
	color: black;

	text-align: left;

        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */


}
.thread-list{
	margin-top: 50px;
}

.i-am-centered { 
	margin: auto; 
	}

.thumbnail {
	border:none;
	background-color:transparent;
	margin: 0px;
	padding: 0px;
}

.container .jumbotron {
	border-radius: 0px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.no-gutters > [class^="col-"],
.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.navbar {
border-color: transparent;
}

.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
}

.navbar-static-bottom {
	margin-bottom:0px;
	
}

.navbar-inverse {
	background-color: black;
}





 
.modal {
	color: #5fa233;
}
.modal-header{
	background-color:black;
}
.modal-body {
	background-color:black;
}


.container2 {
	padding-top: 50px;
	color: white;
	

}
.container-menu {
	padding-top: 50px;
	
	text-align:center;

}